*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/pattern.webp');
}

a,
h1,
h2,
h4,
p {
    color: #212121;
}

a {
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

a:hover {
    color: #29b6f6;
}

header {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.2px 25.6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.035);
}

header img {
    width: 200px;
}

header nav a {
    margin-left: 25.6px;
}

main {
    background: #fff;
    width: 85%;
    margin: 32px auto;
    padding: 12.8px 25.6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.035);
}

h1 {
    text-align: center;
}

article {
    border-bottom: 2px solid #212121;
    margin-bottom: 12.8px;
}

p {
    font-size: 16.8px;
    text-align: justify;
}

footer {
    background: #212121;
    text-align: center;
}

h4 {
    color: #fff;
}

@media (max-width: 640px) {
    header {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    header nav a {
        margin: 12.8px;
        display: inline-block;
    }
}
